@page
@model IndexModel
@{
    ViewData["Title"] = "Pro JS";
}

@section scripts{
<script>
    // 1.闭包与变量
    function createFunctions0() {
        var result = new Array();

        for (var i = 0; i < 10; i++) {
            result[i] = function () {
                return i;
            };
        }

        return result;
    }
    function createFunctions() {
        var result = new Array();

        for (var i = 0; i < 10; i++) {
            result[i] = function (num) {
                return function () { return num; };
            }(i);
        }

        return result;
    }
    var r0 = createFunctions0();
    console.log(r0[1]());
    var r = createFunctions();
    console.log(r[1]());

    // 2.this对象
    var name = 'The Window';
    var object = {
        name: 'My Object',
        getNameFunc: function () {
            return function () {
                return this.name;
            }
        },
        getNameFunc1: function () {
            var that = this;
            return function () {
                return that.name;
            }
        }
    };
    console.log(object.getNameFunc()());
    console.log(object.getNameFunc1()());

    // 3.模仿块级作用域
    function outputNumbers(count) {
        for (var i = 0; i < count; i++) {
            console.log('for:' + i);
        }

        var i;
        console.log('out:' + i); // 5
    }
    outputNumbers(5);

    function outputNumbers1(count) {
        (function () {
            for (var i = 0; i < count; i++) { console.log('for:' + i); }
        })();

        //console.log('out:' + i); // error:i is not defined
    }
    outputNumbers1(5);
</script>
}

<h1>Pro JS</h1>